<style>
    .visible-lg-inline {
        height: 32px;
        width: 32px;
    }

    .visible-xs-inline {
        height: 18px;
        width: 18px;
    }
    .jumbotron {
        background-image: url('../../Resources/pika.jpg');
        background-origin: padding-box;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;
    }
</style>
<div class="jumbotron">
    <h1>P<img src="~/Resources/pokeball-icon.png" alt="PokeIcon" class="visible-lg-inline visible-md-inline visible-sm-inline"><img src="~/Resources/pokeball-icon.png" alt="PokeIcon" class="visible-xs-inline">keTrack</h1>
    <p class="lead">PokeTrack is an online platform for pokemon battles made for trainers, by trainers</p>
    <p><a href="https://www.pokemon.com/us/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Pokedex</h2>
        <p>Here you can look at all 151 pokemon and see their different properties</p>
        <p><a class="btn btn-default" href="https://localhost:44357/Help/Api/GET-api-Pokemon">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Trainerdex</h2>
        <p>Here you can look at all our different trainers and see their different properties</p>
        <p><a class="btn btn-default" href="https://localhost:44357/Help/Api/GET-api-User">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Competing Pokemon</h2>
        <p>Here you can see a list of all the pokemon currently assigned to a team</p>
        <p><a class="btn btn-default" href="https://localhost:44357/Help/Api/GET-api-IndividualPokemonMoves">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Assemble Your PokeTeam</h2>
        <p>Here you can assemble a Pokemon team and use that team to challenge others in Pokemon battle. Your next battle awaits!!</p>
        <p><a class="btn btn-default" href="https://localhost:44357/Help/Api/POST-api-Team">Learn more &raquo;</a></p>
    </div>
</div>
